div{
    background-color: rgb(0, 0, 114);
    width: 350px;
    height: 400px;
    margin: 10px;
    border-radius: 20px;
}
.bb{
    margin: 10px 60px;
}
button{
    width: 250px;
    height: 25px;
    margin: 30px 20px;
    background-color: rgb(124, 124, 255);
}
.bb1{
    color: black;
    margin: 10px 70px;
    font-size: 150px;
}
body{
    background-color: blue;
}